.container {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  
  img {
    width: 20em;
    height: 20em;
  }
}

.rollover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  background-color: white;
  color: black;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;

  h3, h4 {
    margin: 1em;
    font-weight: 500;
  }

  h6 {
    margin: 0;
    font-weight: 500;
  }

  a {
    margin-top: 1em;
    color: black;
  }
}

.container:hover {
  .rollover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
    color: black;
    background: lightgray;
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 70%}
}

@media screen and (max-width: 800px) {
  .container {

    img {
      height: auto;
      width: 100%;}
  }
}